* {
  padding: none;
  margin: none;
}

.spacing {
  height: 130vh;
}

.content {
  border-radius: 4px;
  height: 300px;

  display: flex;
  flex-direction: row;
  gap: 15px;
}

.hidden-animated {
  opacity: 0;
  transition: 2s;
}

.pop-animated {
  background: #283618;
  transition: 2s;
}

.white {
  background-color: white;
}

.rectangle {
  border-radius: 4px;
  width: 100%;
}
