* {
  padding: none;
  margin: none;
}

.spacing {
  height: 130vh;
}

.content {
  border-radius: 4px;
  border: 2px solid #7d7d7d;
  height: 300px;
  transition: 2s;
}

[data-animated="true"][data-animation="fade-in"] {
  background-color: #7d7d7d;
}

[data-animated="false"][data-animation="fade-in"] {
  background-color: white;
}
