* {
  padding: none;
  margin: none;
}

.spacing {
  height: 130vh;
}

.content {
  border-radius: 4px;
  height: 300px;
  background-color: gray;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  gap: 15px;
}

.white {
  background-color: white;
}

.rectangle {
  border-radius: 4px;
  width: 100%;
}

.fade-in-up {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s ease;
}

.fade-in-up.animated {
  transform: translateY(0px);
  opacity: 1;
}
